# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# HuggingFace cache
.cache/

# Models
models/
*.pt
*.pth
*.bin
*.safetensors

# Checkpoints
checkpoint-*/

# App outputs
static/
tts_outputs/
evaluation_outputs/

# Env
.env