torch
torchvision
torchaudio
transformers
datasets 
sacrebleu
sentencepiece 
matplotlib
seaborn
gradio==5.23.0
pandas 
numpy 
scikit-learn
evaluate 
accelerate
sacremoses
soundfile
librosa
edge-tts
nltk
easyocr
pillow-heif